body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #1565D8;
  --color-secondary: #fff;
  --color-thernary: #00DAF7;
  --color-heading: #000;
  --color-body: #fff;
  --color-lable: ##8692A6;  
  --color-warning : #FFC107;

  /* Add additional color variables for other styles */
}

*{
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;

}

